h1{
    color: thistle;
    text-align:  center;
}
.contenedor{
    max-width: 60%;
    margin: auto;
}
#imgDni, .texto-centrado{
    text-align: center;
}
#msnError{
    color: darkred;
    font-style: italic;
}

@media(max-width: 800px){
    .contenedor{
        width: 100%;
    }
    .h1{
        width: 90%;
    }
    #imgDni{ 
        width: 100%;
    }
    .texto-centrado{
        width: 90%;
    }


}