h1{
    color: thistle;
    text-align:  center;
}
.contenedor{
    max-width: 60%;
    margin: auto;
}
#imgDni, .texto-centrado{
    text-align: center;
}
#msnError{
    color: darkred;
    font-style: italic;
}